[submodule "Firmware/Private"]
	path = Firmware/Private
	url = git@github.com:madcowswe/ODrivePrivate.git
	branch = submodule
[submodule "Firmware/modules/uavcan"]
	path = Firmware/modules/uavcan
	url = https://github.com/caleb272/uavcan.git
